* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    line-height: 30px;
}

header {
    height: 100px;
    background-color: black;
    padding: 15px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

main {
    width: 100%;
    background-color: black;
    background-size: cover;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.container {
    width: 90%;
    height: 100%;
    padding: 100px 0;
}

.ricerca {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.titolo-ricerca {
    color: white;
    margin-bottom: 20px;
    display: none;
}

.titolo-ricerca.visible {
    display: block;
}

.scheda-film .dettagli span, .scheda-serie .dettagli span  {
    color: red;
    font-weight: bold;
}

div.card {
    width: 342px;
    height: 516px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-family: sans-serif;
}

.card.scheda-film {
    border: 1px solid green;
}

.card.scheda-serie {
    border: 1px solid blue;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}
