* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: sans-serif;
}

header {
    height: 100px;
    background-color: black;
    padding: 15px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

main {
    width: 100%;
    background-color: black;
    background-size: cover;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.container {
    width: 90%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}

.ricerca {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.titolo-ricerca {
    color: white;
    margin-bottom: 20px;
    display: none;
}

.titolo-ricerca.visible {
    display: block;
}

.scheda-film ul span {
    color: red;
    font-weight: bold;
}

div.scheda-film {
    height: 180px;
    width: 300px;
    color: white;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    font-family: sans-serif;
}

div.scheda-film ul {
    list-style-type: none;
    line-height: 30px;
}
